[core]
    editor = vim

[user]
# Please adapt and uncomment the following lines:
name = J. M. F. Tsang
email = j.m.f.tsang@cantab.net

[log]
    decorate = full

[alias]
    praise = blame
    who = blame
    lg = log --graph --oneline --decorate --all
    logg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    ss = status
    st = status --short --branch
    sh = show --oneline --stat
    df = diff --stat
    br = branch -vva
    co = checkout

[diff]
	tool = vimdiff
    mergetool = vimdiff
# [core]
#	autocrlf = true
[core]
	whitespace = cr-at-eol
